.a{
	text-align: center;
	font-size: 25px;
	font-family: sans-serif;
	background: orange;
}
.b{
	text-align: center;
	font-size: 25px;
	font-family: sans-serif;
}
.c{
	text-align: center;
	font-size: 25px;
	font-family: sans-serif;
	